---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Sobre_mi from "../components/SobreMiv2.astro";
import MisHabilidades from "../components/MisHabilidades.astro";
import Contacto from "../components/Contacto.astro";
import Proyectos from "../components/Proyectos.astro";
---

<Layout
  title="Matias Gomez | Diseñador Web"
  mostrarFooterContacto={true}
  textoBotonContactoFooter="Si no, vea mis trabajos"
  linkBotonContactoFooter="/trabajos"
>
  <main class="main relative z-40">
    <section id="hero" class="xl:snap-center scroll-p-48">
      <Hero />
    </section>
    <section id="proyectos" class="xl:snap-center scroll-p-48 py-28">
      <Proyectos />
    </section>
    <section id="sobre_mi" class="xl:snap-center scroll-p-48">
      <Sobre_mi />
    </section>
    <section id="mis_habilidades" class="xl:snap-center scroll-p-48">
      <MisHabilidades />
    </section>
    <section id="contacto" class="xl:snap-center scroll-p-48">
      <Contacto />
    </section>
  </main>
</Layout>

<script>

</script>
