---
import email_icon from "/img/email_icon.svg";
import figma_icon from "/img/figma_icon.svg";
import github_icon from "/img/github_icon.svg";
import linkedin_icon from "/img/linkedin_icon.svg";
---

<div class="container min-h-screen py-28 font-light flex items-center">
  <div
    class="w-full h-fit flex lg:flex-row flex-col lg:gap-3 sm:gap-16 gap-14 items-start justify-between"
  >
    <article class="flex flex-col items-start sm:gap-12 gap-6">
      <div>
        <h2
          class="titulo 2xl:text-8xl xl:text-7xl lg:text-6xl sm:text-6xl text-4xl font-bold text-dark dark:text-light relative z-20"
        >
          Alguna Duda?
        </h2>
        <p class="text-dark-light dark:text-light-dark mt-7 md:text-lg sm:text-base text-base font-medium">
          Pongamonos en contacto, y resolvamos ese problema, te parece?
        </p>
      </div>
      <div
        class="grid grid-flow-row-dense sm:grid-cols-5 grid-cols-6 grid-rows-4 sm:gap-6 gap-4 [&>img]:col-span-1 sm:[&>a]:col-span-4 [&>a]:col-span-5 [&>img]:w-auto [&>a]:w-auto [&>img]:h-15 [&>img]:brightness-0 [&>img]:dark:invert [&>img]:justify-self-center [&>img]:opacity-70 [&>img]:my-auto [&>a]:flex [&>a]:items-center [&>a]:dark:text-light-dark [&>a]:text-dark-light md:[&>a]:text-lg sm:[&>a]:text-base [&>a]:text-sm "
      >
        <img src={email_icon} alt="" />
        <a href="mailto:gomezmatias126@gmail.com" target="_blank">gomezmatias126@gmail.com</a>
        <img src={linkedin_icon} alt="" />
        <a href="https://www.linkedin.com/in/gomezmatias126/" target="_blank">linkedin.com/in/gomezmatias126</a>
        <img src={github_icon} alt="" />
        <a href="https://github.com/gomezmatias126" target="_blank">github.com/gomezmatias126</a>
        <img src={figma_icon} alt="" />
        <a href="https://www.figma.com/@gomezmatias126" target="_blank">figma.com/@gomezmatias126</a>
      </div>
    </article>
    <div class="lg:w-5/12 w-full">
      <form id="form w-full">
        <div
          class="flex flex-col font-light [&>div>input]:dark:text-light-dark [&>div>input]:text-dark-light [&>div>textarea]:dark:text-light-dark [&>div>textarea]:text-dark-light [&>div>label]:dark:text-light-dark [&>div>label]:text-dark-light gap-y-8 gap-x-10 [&>div>input]:ring-1 [&>div>input]:dark:ring-grey [&>div>input]:ring-dark-light [&>div>input]:bg-transparent [&>div>textarea]:bg-transparent "
        >
          <div class="flex flex-col gap-2">
            <label
              class="md:text-lg sm:text-base text-sm font-medium"
              for="nombre">Nombre</label
            >
            <input
              class="px-2 py-4 h-12"
              id="nombre"
              name="nombre"
              type="text"
            />
          </div>
          <div class="flex flex-col gap-2">
            <label
              class="md:text-lg sm:text-base text-sm font-medium"
              for="email">Email</label
            >
            <input
              class="px-2 py-4 h-12"
              id="email"
              name="email"
              type="email"
            />
          </div>
          <div class="flex flex-col gap-2 col-span-2">
            <label
              class="md:text-lg sm:text-base text-sm font-medium"
              for="mensaje">Mensaje</label
            >
            <textarea
              name="mensaje"
              id="mensaje"
              cols="30"
              rows="10"
              class="p-2 h-36 ring-1 dark:ring-grey ring-dark-light"></textarea>
          </div>
          <div>
            <button
              type="submit"
              id="btnEnviarForm"
              name="Enviar Mensaje"
              class="relative z-20 sm:px-20 sm:py-4 py-4 leading-none text-light font-regular text-lg leading-0 subpixel-antialiased w-full flex gap-2 items-center justify-center overflow-hidden"
            >
              <span class="fondo_boton_contacto bg-gradient-to-tr from-light via-grey to-light dark:from-dark dark:via-dark-light dark:to-dark"></span>
              <span class="relative z-20 dark:text-light-dark text-dark-light"> Enviar Mensaje</span>
              <svg
                class="h-6 relative z-20 dark:fill-light-dark fill-dark-light"
                width="31"
                height="30"
                viewBox="0 0 31 30"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M30.0075 0L0 12L11.195 17.0625L27.0075 3L12.945 18.8125L18.0075 30L30.0075 0Z"></path>
              </svg>
            </button>
          </div>
          <div
            class="enviado mt-2 font-regular text-xl"
            id="enviado"
            aria-roledescription="Indicador del Estado del Mensaje Enviado"
          >
            <span>Enviando Mensaje....</span>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<style>
  .fondo_boton_contacto {
    position: absolute;
    height: auto;
    aspect-ratio: 1/1;
    width: 120%;
    border-radius: 100%;
    z-index: -10;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* background: linear-gradient(90deg, #222222 0%, #9747ff 50%, #222222 100%); */
    transition: transform 1000ms;
    will-change: transform;
  }
  #btnEnviarForm:hover > .fondo_boton_contacto,
  #btnEnviarForm:focus > .fondo_boton_contacto {
    transition: transform 1000ms;
    transform: rotate(180deg) translate(50%, 50%);
  }

  .enviado {
    visibility: hidden;
    color: white;
    background-color: #9747ff;
    border-radius: 10px;
    text-align: center;
  }
  .enviado.error {
    background-color: red;
    color: black;
    visibility: visible;
  }
  .enviado.sended {
    background-color: #3ac989;
    color: black;
    visibility: visible;
  }
</style>

<script>
  const formulario = document.getElementById("form");
  const respuesta = document.getElementById("enviado");
  const btnEnviarForm = document.getElementById("btnEnviarForm");

  function enable__form() {
    btnEnviarForm.disabled = false;
    setTimeout(() => {
      respuesta.style.visibility = "hidden";
    }, 10000);
  }
  formulario.addEventListener("submit", function (e) {
    respuesta.textContent = "Enviando Mensaje...";
    respuesta.style.visibility = "visible";
    e.preventDefault();
    btnEnviarForm.disabled = true;
    var datos = new FormData(formulario);
    fetch("post.php", {
      method: "POST",
      body: datos,
    })
      .then((response) => response.json())
      .then((data) => {
        console.log(data);
        respuesta.textContent = data;
        if (data.includes("Error")) {
          respuesta.classList.add("error");
          enable__form();
          setTimeout(() => {
            respuesta.classList.remove("error");
          }, 10000);
        } else {
          respuesta.classList.add("sended");
          formulario.reset();
          enable__form();
          setTimeout(() => {
            respuesta.classList.remove("sended");
          }, 10000);
        }
      })
      .catch(() => {
        respuesta.textContent =
          "Hay fallas en el envio, intente por otra via de contacto";
        respuesta.classList.add("error");
        enable__form();
        setTimeout(() => {
          respuesta.classList.remove("error");
        }, 10000);
      });
  });
</script>
