---
  
---

<div class="container h-screen max-h-[1024px] relative hero">
  <div
    class="h-full flex flex-col justify-center items-center md:gap-16 sm:gap-10 gap-5 relative z-30 overflow-x-hidden"
  >
    <h1
      id="titulo"
      class="titulo 2xl:text-9xl xl:text-8xl lg:text-7xl sm:text-7xl text-[3rem] font-bold text-center dark:text-light text-dark relative z-20"
    >
      Nuevo Diseñador <br />Nuevas Ideas
    </h1>
    <div
      class="caja_botones_hero w-full flex sm:gap-10 sm:justify-center justify-between relative z-20 [&>a]:px-6 [&>a]:py-4 [&>a]:sm:px-8 [&>a]:sm:py-5 [&>a]:md:px-12 [&>a]:md:py-5 [&>a]:lg:px-14 [&>a]:lg:py-6 [&>a]:xl:px-16 [&>a]:xl:py-7"
    >
      <a
        id="mis_proyectos"
        href="#proyectos"
        class="btn-16 inline-block relative dark:after:bg-dark after:bg-light dark:hover:text-light hover:text-dark dark:bg-light bg-dark text-light dark:text-dark shadow-lg md:text-xl sm:text-lg text-base gap-1 items-center w-fit leading-loose"
        >Mis Proyectos
      </a>
      <a
        href="#sobre_mi"
        class="btn6 inline-block dark:after:bg-light-dark after:bg-dark-light leading-loose dark:before:bg-light-dark before:bg-dark-light hover:dark:border-l-light-dark hover:border-l-dark-light hover:dark:border-r-light-dark hover:border-r-dark-light dark:text-light text-dark relative md:text-xl sm:text-lg text-base gap-1 items-center w-fit"
        >Sobre Mi
      </a>
    </div>
    
  </div>
</div>



<script>
import { animate, stagger } from "motion";
  let titulo = document.getElementById("titulo");
  titulo.innerHTML = titulo.textContent.replace(
    /\S/g,
    "<span class='letter'>$&</span>"
  );
  let spans = document.querySelectorAll(".letter");
  animate(
    spans,
    { opacity: [0, 1]},
    {
      duration: 2,
      delay: stagger(.06),
      easing: [.5, .24, 0, 1],
      direction: "normal",
    }
  );
  animate(
    '.caja_botones_hero',
    { y: [200, 0], opacity:[0, 100] },
    {
      duration: 2,
      easing: [.5, .24, 0, 1],
      direction: "normal",
    }
  );
  animate(
    '#titulo',
    { x: [-200, 0], opacity:[0, 100] },
    {
      duration: 2,
      easing: [.5, .24, 0, 1],
      direction: "normal",
    }
  );
</script>
