<div class="container h-screen max-h-[1024px] relative hero">
  <div
    class="h-full flex flex-col justify-center items-center md:gap-16 sm:gap-10 gap-5 relative z-30 overflow-x-hidden"
  >
    <h1
      class="titulo 2xl:text-9xl xl:text-8xl lg:text-7xl sm:text-7xl text-[3rem] font-bold text-center dark:text-light relative z-20"
    >
      Nuevo Diseñador <br />Nuevas Ideas
    </h1>
    <div
      class="w-full flex sm:gap-10 sm:justify-center justify-between relative z-20 [&>a]:px-6 [&>a]:py-4 [&>a]:sm:px-8 [&>a]:sm:py-5 [&>a]:md:px-12 [&>a]:md:py-5 [&>a]:lg:px-14 [&>a]:lg:py-6 [&>a]:xl:px-16 [&>a]:xl:py-7"
    >
      <a
        href="#proyectos"
        class="md:text-xl sm:text-lg text-base gap-1 items-center w-fit text-light dark:text-dark dark:bg-light bg-dark"
        >Mis Proyectos
      </a>
      <a
        href="#sobre_mi"
        class="md:text-xl sm:text-lg text-base gap-1 items-center dark:text-light text-dark w-fit"
        >Sobre Mi
      </a>
    </div>
    <svg
      class="cajita1 absolute z-10 left-1/3 top-0 h-full w-auto dark:opacity-40 opacity-40 dark:fill-dark-light fill-grey"
      width="1184"
      height="1190"
      viewBox="0 0 1184 1190"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M3.08953 594.895L0.58953 594.895L3.08953 594.895ZM3.17906 3L5.41498 1.88167C4.89638 0.844818 3.733 0.300528 2.6047 0.566872C1.4764 0.833217 0.679236 1.84031 0.67906 2.99962L3.17906 3ZM3 1186.79L0.5 1186.79C0.499847 1187.8 1.10896 1188.71 2.04325 1189.1C2.97754 1189.49 4.05297 1189.27 4.76797 1188.56L3 1186.79ZM200.387 989.359L202.155 991.127L202.155 991.127L200.387 989.359ZM397.774 791.928L399.542 793.695C400.303 792.934 400.491 791.772 400.01 790.809L397.774 791.928ZM200.477 397.464L198.241 398.582L198.241 398.582L200.477 397.464ZM495.819 987.76L498.055 986.643L498.055 986.643L495.819 987.76ZM398 792.07L396.232 790.303C395.471 791.064 395.283 792.226 395.764 793.188L398 792.07ZM1181.01 10.0004L1182.77 8.2328L1182.77 8.2327L1181.01 10.0004ZM789.224 400.756L790.992 402.524L790.992 402.524L789.224 400.756ZM5.58953 594.896L5.67906 3.00038L0.67906 2.99962L0.58953 594.895L5.58953 594.896ZM5.5 1186.79L5.58953 594.896L0.58953 594.895L0.5 1186.79L5.5 1186.79ZM198.619 987.592L1.23203 1185.02L4.76797 1188.56L202.155 991.127L198.619 987.592ZM396.006 790.16L198.619 987.592L202.155 991.127L399.542 793.695L396.006 790.16ZM198.241 398.582L395.538 793.046L400.01 790.809L202.712 396.346L198.241 398.582ZM0.943141 4.11833L198.241 398.582L202.712 396.346L5.41498 1.88167L0.943141 4.11833ZM498.055 986.643L400.236 790.953L395.764 793.188L493.583 988.878L498.055 986.643ZM594.446 1180.95C594.836 1180.98 595.444 1181.16 595.661 1181.27C595.794 1181.35 596.004 1181.5 596.083 1181.56C596.23 1181.69 596.327 1181.81 596.358 1181.85C596.433 1181.94 596.478 1182.01 596.479 1182.01C596.491 1182.03 596.482 1182.01 596.439 1181.94C596.36 1181.8 596.234 1181.58 596.056 1181.25C595.703 1180.59 595.185 1179.61 594.506 1178.3C593.149 1175.69 591.173 1171.84 588.641 1166.87C583.58 1156.94 576.311 1142.57 567.374 1124.84C549.499 1089.38 524.955 1040.46 498.055 986.643L493.583 988.878C520.484 1042.69 545.031 1091.62 562.909 1127.09C571.847 1144.83 579.12 1159.2 584.186 1169.14C586.719 1174.11 588.703 1177.98 590.069 1180.61C590.751 1181.92 591.285 1182.93 591.657 1183.62C591.841 1183.96 591.996 1184.25 592.115 1184.45C592.171 1184.55 592.239 1184.66 592.308 1184.77C592.337 1184.81 592.405 1184.91 592.497 1185.02C592.538 1185.07 592.642 1185.2 592.795 1185.33C592.877 1185.4 593.09 1185.55 593.225 1185.63C593.445 1185.74 594.055 1185.92 594.446 1185.95V1180.95ZM1179.24 11.768C1178.64 10.7926 1178.56 9.47387 1178.61 9.30611C1178.63 9.25031 1178.65 9.16575 1178.66 9.15133C1178.67 9.13622 1178.66 9.15119 1178.63 9.21667C1178.58 9.33714 1178.49 9.53408 1178.35 9.81733C1178.09 10.3783 1177.68 11.2194 1177.14 12.3374C1176.06 14.5705 1174.43 17.8782 1172.31 22.1916C1168.05 30.8169 1161.79 43.4487 1153.81 59.516C1137.85 91.6499 1115.01 137.517 1087.57 192.539C1032.7 302.583 959.46 449.241 886.163 595.877C812.866 742.513 739.512 889.126 684.416 999.08C656.868 1054.06 633.885 1099.87 617.755 1131.93C609.69 1147.97 603.339 1160.56 598.989 1169.15C596.813 1173.44 595.139 1176.73 594.002 1178.94C593.433 1180.05 593.002 1180.88 592.711 1181.43C592.564 1181.71 592.46 1181.9 592.395 1182.02C592.36 1182.08 592.35 1182.1 592.358 1182.08C592.365 1182.07 592.412 1182 592.444 1181.96C592.543 1181.83 593.473 1181.15 594.446 1180.95V1185.95C595.423 1185.75 596.362 1185.06 596.474 1184.92C596.519 1184.85 596.584 1184.76 596.613 1184.71C596.665 1184.63 596.717 1184.53 596.761 1184.46C596.855 1184.29 596.98 1184.05 597.131 1183.77C597.436 1183.19 597.878 1182.34 598.449 1181.23C599.593 1179 601.272 1175.71 603.449 1171.41C607.803 1162.82 614.156 1150.22 622.222 1134.18C638.353 1102.11 661.338 1056.3 688.886 1001.32C743.983 891.364 817.338 744.749 890.635 598.112C963.933 451.476 1037.18 304.816 1092.05 194.77C1119.48 139.748 1142.33 93.8777 1158.29 61.7403C1166.27 45.672 1172.54 33.0348 1176.79 24.4026C1178.92 20.0872 1180.55 16.7689 1181.64 14.5222C1182.18 13.4002 1182.6 12.5378 1182.88 11.9497C1183.01 11.6584 1183.12 11.4194 1183.2 11.2447C1183.24 11.1627 1183.28 11.0653 1183.32 10.9733C1183.34 10.9205 1183.38 10.8063 1183.4 10.7299C1183.45 10.5415 1183.38 9.211 1182.77 8.2328L1179.24 11.768ZM790.992 402.524C898.578 294.913 996.446 197.148 1067.46 126.324C1102.96 90.9125 1131.75 62.237 1151.68 42.4341C1161.65 32.5322 1169.4 24.8505 1174.66 19.6547C1177.3 17.0561 1179.31 15.0829 1180.66 13.7657C1181.34 13.1057 1181.85 12.6175 1182.18 12.2997C1182.35 12.1382 1182.47 12.0345 1182.53 11.9779C1182.57 11.9446 1182.56 11.9526 1182.53 11.9784C1182.52 11.9825 1182.45 12.0447 1182.33 12.1155C1182.26 12.1588 1182.04 12.2732 1181.9 12.3358C1181.53 12.4446 1180.11 12.3355 1179.24 11.7681L1182.77 8.2327C1181.9 7.66414 1180.48 7.55516 1180.11 7.66547C1179.96 7.72953 1179.73 7.84675 1179.65 7.89424C1179.53 7.97339 1179.44 8.04921 1179.41 8.07241C1179.33 8.13626 1179.25 8.20369 1179.2 8.25104C1179.08 8.35581 1178.93 8.49852 1178.75 8.66722C1178.39 9.00992 1177.86 9.51796 1177.18 10.1815C1175.81 11.5114 1173.79 13.4947 1171.15 16.0951C1165.88 21.2974 1158.12 28.9842 1148.16 38.8871C1128.22 58.6934 1099.43 87.3716 1063.92 122.784C992.913 193.61 895.043 291.376 787.456 398.988L790.992 402.524ZM399.768 793.838L790.992 402.524L787.456 398.988L396.232 790.303L399.768 793.838Z"
      ></path>
    </svg>
    <svg
      class="cajita2 absolute z-10 left-1/4 top-0 h-full w-auto dark:fill-grey fill-grey dark:opacity-20 opacity-40"
      width="1184"
      height="1190"
      viewBox="0 0 1184 1190"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M3.08953 594.895L0.58953 594.895L3.08953 594.895ZM3.17906 3L5.41498 1.88167C4.89638 0.844818 3.733 0.300528 2.6047 0.566872C1.4764 0.833217 0.679236 1.84031 0.67906 2.99962L3.17906 3ZM3 1186.79L0.5 1186.79C0.499847 1187.8 1.10896 1188.71 2.04325 1189.1C2.97754 1189.49 4.05297 1189.27 4.76797 1188.56L3 1186.79ZM200.387 989.359L202.155 991.127L202.155 991.127L200.387 989.359ZM397.774 791.928L399.542 793.695C400.303 792.934 400.491 791.772 400.01 790.809L397.774 791.928ZM200.477 397.464L198.241 398.582L198.241 398.582L200.477 397.464ZM495.819 987.76L498.055 986.643L498.055 986.643L495.819 987.76ZM398 792.07L396.232 790.303C395.471 791.064 395.283 792.226 395.764 793.188L398 792.07ZM1181.01 10.0004L1182.77 8.2328L1182.77 8.2327L1181.01 10.0004ZM789.224 400.756L790.992 402.524L790.992 402.524L789.224 400.756ZM5.58953 594.896L5.67906 3.00038L0.67906 2.99962L0.58953 594.895L5.58953 594.896ZM5.5 1186.79L5.58953 594.896L0.58953 594.895L0.5 1186.79L5.5 1186.79ZM198.619 987.592L1.23203 1185.02L4.76797 1188.56L202.155 991.127L198.619 987.592ZM396.006 790.16L198.619 987.592L202.155 991.127L399.542 793.695L396.006 790.16ZM198.241 398.582L395.538 793.046L400.01 790.809L202.712 396.346L198.241 398.582ZM0.943141 4.11833L198.241 398.582L202.712 396.346L5.41498 1.88167L0.943141 4.11833ZM498.055 986.643L400.236 790.953L395.764 793.188L493.583 988.878L498.055 986.643ZM594.446 1180.95C594.836 1180.98 595.444 1181.16 595.661 1181.27C595.794 1181.35 596.004 1181.5 596.083 1181.56C596.23 1181.69 596.327 1181.81 596.358 1181.85C596.433 1181.94 596.478 1182.01 596.479 1182.01C596.491 1182.03 596.482 1182.01 596.439 1181.94C596.36 1181.8 596.234 1181.58 596.056 1181.25C595.703 1180.59 595.185 1179.61 594.506 1178.3C593.149 1175.69 591.173 1171.84 588.641 1166.87C583.58 1156.94 576.311 1142.57 567.374 1124.84C549.499 1089.38 524.955 1040.46 498.055 986.643L493.583 988.878C520.484 1042.69 545.031 1091.62 562.909 1127.09C571.847 1144.83 579.12 1159.2 584.186 1169.14C586.719 1174.11 588.703 1177.98 590.069 1180.61C590.751 1181.92 591.285 1182.93 591.657 1183.62C591.841 1183.96 591.996 1184.25 592.115 1184.45C592.171 1184.55 592.239 1184.66 592.308 1184.77C592.337 1184.81 592.405 1184.91 592.497 1185.02C592.538 1185.07 592.642 1185.2 592.795 1185.33C592.877 1185.4 593.09 1185.55 593.225 1185.63C593.445 1185.74 594.055 1185.92 594.446 1185.95V1180.95ZM1179.24 11.768C1178.64 10.7926 1178.56 9.47387 1178.61 9.30611C1178.63 9.25031 1178.65 9.16575 1178.66 9.15133C1178.67 9.13622 1178.66 9.15119 1178.63 9.21667C1178.58 9.33714 1178.49 9.53408 1178.35 9.81733C1178.09 10.3783 1177.68 11.2194 1177.14 12.3374C1176.06 14.5705 1174.43 17.8782 1172.31 22.1916C1168.05 30.8169 1161.79 43.4487 1153.81 59.516C1137.85 91.6499 1115.01 137.517 1087.57 192.539C1032.7 302.583 959.46 449.241 886.163 595.877C812.866 742.513 739.512 889.126 684.416 999.08C656.868 1054.06 633.885 1099.87 617.755 1131.93C609.69 1147.97 603.339 1160.56 598.989 1169.15C596.813 1173.44 595.139 1176.73 594.002 1178.94C593.433 1180.05 593.002 1180.88 592.711 1181.43C592.564 1181.71 592.46 1181.9 592.395 1182.02C592.36 1182.08 592.35 1182.1 592.358 1182.08C592.365 1182.07 592.412 1182 592.444 1181.96C592.543 1181.83 593.473 1181.15 594.446 1180.95V1185.95C595.423 1185.75 596.362 1185.06 596.474 1184.92C596.519 1184.85 596.584 1184.76 596.613 1184.71C596.665 1184.63 596.717 1184.53 596.761 1184.46C596.855 1184.29 596.98 1184.05 597.131 1183.77C597.436 1183.19 597.878 1182.34 598.449 1181.23C599.593 1179 601.272 1175.71 603.449 1171.41C607.803 1162.82 614.156 1150.22 622.222 1134.18C638.353 1102.11 661.338 1056.3 688.886 1001.32C743.983 891.364 817.338 744.749 890.635 598.112C963.933 451.476 1037.18 304.816 1092.05 194.77C1119.48 139.748 1142.33 93.8777 1158.29 61.7403C1166.27 45.672 1172.54 33.0348 1176.79 24.4026C1178.92 20.0872 1180.55 16.7689 1181.64 14.5222C1182.18 13.4002 1182.6 12.5378 1182.88 11.9497C1183.01 11.6584 1183.12 11.4194 1183.2 11.2447C1183.24 11.1627 1183.28 11.0653 1183.32 10.9733C1183.34 10.9205 1183.38 10.8063 1183.4 10.7299C1183.45 10.5415 1183.38 9.211 1182.77 8.2328L1179.24 11.768ZM790.992 402.524C898.578 294.913 996.446 197.148 1067.46 126.324C1102.96 90.9125 1131.75 62.237 1151.68 42.4341C1161.65 32.5322 1169.4 24.8505 1174.66 19.6547C1177.3 17.0561 1179.31 15.0829 1180.66 13.7657C1181.34 13.1057 1181.85 12.6175 1182.18 12.2997C1182.35 12.1382 1182.47 12.0345 1182.53 11.9779C1182.57 11.9446 1182.56 11.9526 1182.53 11.9784C1182.52 11.9825 1182.45 12.0447 1182.33 12.1155C1182.26 12.1588 1182.04 12.2732 1181.9 12.3358C1181.53 12.4446 1180.11 12.3355 1179.24 11.7681L1182.77 8.2327C1181.9 7.66414 1180.48 7.55516 1180.11 7.66547C1179.96 7.72953 1179.73 7.84675 1179.65 7.89424C1179.53 7.97339 1179.44 8.04921 1179.41 8.07241C1179.33 8.13626 1179.25 8.20369 1179.2 8.25104C1179.08 8.35581 1178.93 8.49852 1178.75 8.66722C1178.39 9.00992 1177.86 9.51796 1177.18 10.1815C1175.81 11.5114 1173.79 13.4947 1171.15 16.0951C1165.88 21.2974 1158.12 28.9842 1148.16 38.8871C1128.22 58.6934 1099.43 87.3716 1063.92 122.784C992.913 193.61 895.043 291.376 787.456 398.988L790.992 402.524ZM399.768 793.838L790.992 402.524L787.456 398.988L396.232 790.303L399.768 793.838Z"
      ></path>
    </svg>
  </div>
</div>

<style>
  h1 {
    text-wrap: balance;
  }
</style>

<script>
  import { inView, animate } from "motion";
  let container = document.querySelector('.contrainer')

  inView(container, ({ target }) => {
    animate(
      target.querySelector("h1.titulo"),
      { opacity: 1, transform: "none" },
      { delay: 0.2, duration: 0.9, easing: [0.17, 0.55, 0.55, 1] }
    );
  });
</script>
