---
  
---

<div class="container h-screen max-h-[1024px] relative hero">
  <div
    class="h-full flex flex-col justify-center items-center md:gap-16 sm:gap-10 gap-5 relative z-30 overflow-x-hidden"
  >
    <h1
      id="titulo"
      class="titulo opacity-0 2xl:text-9xl xl:text-8xl lg:text-7xl sm:text-7xl text-[3rem] font-bold text-center dark:text-light relative z-20"
    >
      Nuevo Diseñador <br />Nuevas Ideas
    </h1>
    <div
      class="caja_botones_hero w-full flex sm:gap-10 sm:justify-center justify-between relative z-20 [&>a]:px-6 [&>a]:py-4 [&>a]:sm:px-8 [&>a]:sm:py-5 [&>a]:md:px-12 [&>a]:md:py-5 [&>a]:lg:px-14 [&>a]:lg:py-6 [&>a]:xl:px-16 [&>a]:xl:py-7 opacity-0"
    >
      <a
        id="mis_proyectos"
        href=""
        class="btn-16 inline-block relative dark:after:bg-dark after:bg-light shadow-lg md:text-xl sm:text-lg text-base gap-1 items-center w-fit text-light transition-colors dark:text-dark dark:hover:text-light hover:text-dark dark:bg-light bg-dark leading-loose"
        >Mis Proyectos
      </a>
      <a
        href="#sobre_mi"
        class="btn6 inline-block dark:after:bg-light-dark after:bg-dark-light leading-loose dark:before:bg-light-dark before:bg-dark-light hover:dark:border-l-light-dark hover:border-l-dark-light hover:dark:border-r-light-dark hover:border-r-dark-light relative md:text-xl sm:text-lg text-base gap-1 items-center dark:text-light text-dark w-fit"
        >Sobre Mi
      </a>
    </div>
    
  </div>
</div>

<style>
  h1 {
    text-wrap: balance;
  }
  .animation_hover:hover{

  }
  .btn-16 {
  z-index: 1;
}
.btn-16:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  direction: rtl;
  z-index: -1;
  transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
}
.btn-16:hover:after {
  left: auto;
  right: 0;
  width: 100%;
}
.btn-16:active {
  top: 2px;
}
.btn6{
  border:1px solid transparent; 
   -webkit-transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
  transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
}

.btn6::before {
  content: '';
  position: absolute;
  left: 0px;
  bottom:0px;
  z-index:-1;
  width: 0%;
  height:1px;
  box-shadow: inset 0px 0px 0px #6098FF;
  display: block;
  -webkit-transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
  transition: all 0.4s cubic-bezier(.5, .24, 0, 1)
}

.btn6:hover::before {
  width:100%;
}

.btn6::after {
  content: '';
  position: absolute;
  right: 0px;
  top:0px;
  z-index:-1;
  width: 0%;
  height:1px;
  -webkit-transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
  transition: all 0.4s cubic-bezier(.5, .24, 0, 1)
}
.btn6:hover::after {
  width:100%;
}
.btn6:hover{
  border-left:1px solid currentColor;
  border-right:1px solid currentColor;
}
</style>

<script>
  // import { animate, stagger } from "motion";
  // let titulo = document.getElementById("titulo");
  // titulo.innerHTML = titulo.textContent.replace(
  //   /\S/g,
  //   "<span class='letter dark:bg-dark bg-light'>$&</span>"
  // );
  // let spans = document.querySelectorAll(".letter");
  // animate(
  //   spans,
  //   { backgroundColor: ['currentColor', 'transparent'] },
  //   {
  //     duration: 2,
  //     delay: stagger(.06),
  //     easing: "cubic-bezier(.5, .24, 0, 1)",
  //     direction: "normal",
  //   }
  // );
  // animate(
  //   '.caja_botones_hero',
  //   { y: [200, 0], opacity:[0, 100] },
  //   {
  //     duration: 2,
  //     easing: "cubic-bezier(.5, .24, 0, 1)",
  //     direction: "normal",
  //   }
  // );
  // animate(
  //   '#titulo',
  //   { x: [-200, 0], opacity:[0, 100] },
  //   {
  //     duration: 2,
  //     easing: "cubic-bezier(.5, .24, 0, 1)",
  //     direction: "normal",
  //   }
  // );
</script>
