---
import foto from "/img/foto_monte.avif";
---

<div
  class="container container_sobre_mi min-h-screen max-h-[1400px] sm:py-28 pt-16 relative grid place-items-center"
>
  <div
    class="caja_principal sm:pb-0 dark:before:bg-light-dark before:bg-dark relative z-20 w-full lg:h-auto h-fit flex lg:flex-row flex-col lg:items-center"
  >
      <img
        class="self-start lg:aspect-auto aspect-square w-full lg:w-6/12 lg:min-h-[100%] h-auto object-cover relative z-30"
        src={foto}
        alt="Foto de Matias Gomez"
      />
    <div
      class="lg:w-6/12 relative lg:px-10 md:px-8 sm:px-6 px-4 lg:py-12 md:py-9 sm:py-7 pt-6 pb-10 z-20 h-auto flex items-start flex-col xl:gap-6 sm:gap-7 gap-3 [&>p]:dark:text-dark-light [&>p]:text-light-dark [&>p]:xl:text-base [&>p]:md:text-base [&>p]:text-sm [&>p]:font-light"
    >
      <h2
        class="titulo 2xl:text-8xl xl:text-6xl lg:text-5xl sm:text-4xl text-4xl font-bold text-center dark:text-dark text-light relative z-20 leading-none"
      >
        Holaaa...
      </h2>
      <p>
        Soy Matías, un estudiante autodidacta que acaba de comenzar en este
        hermoso ambiente del diseño web. Mi experiencia profesional comenzó hace
        varios años, siendo Ayudante de Cocina mi primer trabajo en los veranos
        de la secundaria, para luego pasar a ser Recepcionista en un servicio
        técnico de celulares, y últimamente, un Diseñador Web Freelancer.
      </p>
      <p>
        Durante todos estos años, he aprendido a trabajar coordinadamente con
        grandes grupos de personas, a comunicarme de manera efectiva y a ser más
        organizado para hacer frente a las nuevas responsabilidades que iban
        surgiendo. Debido a mi paso por una secundaria técnica (Electrónica),
        descubrí el desarrollo de software, aunque más tarde el diseño web fue
        el que me terminó de convencer de que debía dedicarme a la programación.
      </p>
      <p>
        Gracias a todo esto, actualmente me encuentro estudiando para
        convertirme en Desarrollador Web Frontend. Mi experiencia incluye el
        diseño de páginas web simples, creando prototipos en Figma y luego
        llevándolos a código utilizando Astro JS y Tailwind CSS.
      </p>
      <p>
        Además, hace poco tiempo comencé a utilizar WordPress para tener en mi
        repertorio la habilidad de crear Tiendas Virtuales.
      </p>
      <!-- <a
        href="#banner_trabajos"
        class="lg:text-xl md:text-lg sm:text-base text-sm gap-1 items-center w-fit text-dark dark:text-light dark:bg-dark bg-light px-6 py-3 md:px-12 lg:px-14 md:py-3 xl:px-14 xl:py-4 sm:border-none border border-dark"
        >Mis Proyectos
      </a> -->
    </div>
  </div>
</div>

<style>
  .caja_principal::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%;
    z-index: 17;
  }
  @media screen and (width <= 768px) {
    .container_sobre_mi {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }
  /* .caja_foto::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid;
    left: -3%;
    top: -3%;
    z-index: 25;
  }
  .caja_foto::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid;
    left: 3%;
    top: 3%;
    z-index: 30;
  } */
</style>
